break {
  margin: 0 2px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 0 0 1px red;

}
.xmov-editor break:hover {
  background-color: yellow;
  color: #fff;
}
phoneme {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(127, 127, 127, 0.2);
}
